.About {
    position: absolute;
    height: 280px;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
}

.about-me, .name, .education {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.about-me {
    left: -7%;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    top: 45%;
    transform: rotate(-90deg);
}

.name {
    top: 10%;
    font-size: 50px;
    left: -29%;
    opacity: 0;
}

.education {
    top: 44.5%;
    font-size: 40px;
    font-weight: 500;
    right: -53.5%;
    opacity: 0;
}